@{
    ViewData["Title"] = "Favorite Season";
}

<form method="POST">
	<label>What is your favorite season?</label>
	<div>
		<input type="radio" name="favoriteSeason" value="Spring" id="favoriteSeason_Spring"><label for="favoriteSeason_Spring">Spring</label>
		<input type="radio" name="favoriteSeason" value="Summer" id="favoriteSeason_Summer"><label for="favoriteSeason_Summer">Summer</label>
		<input type="radio" name="favoriteSeason" value="Fall" id="favoriteSeason_Fall"><label for="favoriteSeason_Fall">Fall</label>
		<input type="radio" name="favoriteSeason" value="Winter" id="favoriteSeason_Winter"><label for="favoriteSeason_Winter">Winter</label>
	</div>
	<button type="submit">Next >>></button>
</form>

