@{
    ViewData["Title"] = "Favorite Food";
}

<form method="POST">
	<label>What is your favorite food?</label>
	<input type="text" name="favoriteFood">
	<button type="submit">Next >>></button>
</form>

