@model FavoriteThings
@{
    ViewData["Title"] = "Summary";
}

<div><strong>Favorite Color:</strong> @Model.FavoriteColor</div>
<div><strong>Favorite Food:</strong> @Model.FavoriteFood</div>
<div><strong>Favorite Season:</strong> @Model.FavoriteSeason</div>
